{# src/GBE/PresentationBundle/Resources/Route/calendar.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'calendar.titles.calendar' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content" id="page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div id="content" class="content">

			<h2>
				{{ 'calendar.titles.calendar'|trans }}
			</h2>
			<hr/>

			
			<!-- <table style="margin-left: 80px;" id="calendar_table">
				<tr>
					<th rowspan="2">Juillet, Août</th>
					<td rowspan="2"> : </td>
					<td>Recherche de partenaires</td>
				</tr>
				<tr>
					<td>Déclaration aux mairies, publicité dans les écoles</td>
				</tr>

				<tr>
					<th rowspan="2">20 Septembre</th>
					<td rowspan="2"> : </td>
					<td>Réunion des délégations Défi du Mékong de chaque ville</td>
				</tr>
				<tr>
					<td>Présentation du projet, choix des préparateurs locaux</td>
				</tr>
				<tr>
					<th>Octobre</th>
					<td> : </td>
					<td>Finalisation des préparatifs. Fin des inscriptions des écoles.</td>
				</tr>
				<tr>
					<td colspan="3" id="td_space"></td>
				</tr>
				<tr>
					<th>Vendredi 23 Octobre</th>
					<td> : </td>
					<td>Etape 1 - Place Bellecourt (Lyon)</td>
				</tr>
				<tr>
					<th>Samedi 24 Octobre</th>
					<td> : </td>
					<td>Etape 2 - Notre Dame de la Garde (Marseille)</td>
				</tr>
				<tr>
					<th>Dimanche 25 Octobre</th>
					<td> : </td>
					<td>Etape 3 - Place du Capitole (Toulouse)</td>
				</tr>
				<tr>
					<th>Lundi 26 Octobre</th>
					<td> : </td>
					<td>Etape 4 - Place de la Mairie (Bordeaux)</td>
				</tr>
				<tr>
					<th>Mardi 27 Octobre</th>
					<td> : </td>
					<td>Etape 5 - Place Bouffet (Nantes)</td>
				</tr>
				<tr>
					<th>Mercredi 28 Octobre</th>
					<td> : </td>
					<td>Etape 6 - Place de la Mairie (Brest)</td>
				</tr>
				<tr>
					<th>Jeudi 29 Octobre</th>
					<td> : </td>
					<td>Etape 7 - Cathédrale de Caen (Caen)</td>
				</tr>
				<tr>
					<th>Vendredi 30 Octobre</th>
					<td> : </td>
					<td>Etape 8 - Grand'Place (Lille)</td>
				</tr>
				<tr>
					<th>Samedi 31 Octobre</th>
					<td> : </td>
					<td>Etape 9 - Cathédrale de Metz (Metz)</td>
				</tr>
				<tr>
					<th>Dimanche 1er Novembre</th>
					<td> : </td>
					<td>Etape 10 - Place de la Mairie (Besançon)</td>
				</tr>
				<tr>
					<th>Lundi 2 Novembre</th>
					<td> : </td>
					<td>Arrivée - Place Bellecourt (Lyon)</td>
				</tr>
				<tr>
					<td colspan="3" id="td_space"></td>
				</tr>
				<tr>
					<th>Samedi 7 Décembre</th>
					<td> : </td>
					<td>Soirée de Retour</td>
				</tr>


			</table> -->

			<div>
				<img src="{{ asset('img/system/etapes.jpg') }}" alt="Les étapes" class="calendar_img" />
			</div>
			
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_Presentation_body %}