{# src/GBE/PresentationBundle/Resources/Presentation/bio.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'bio.titles.bio' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div class="content">

			<h2>
				{{ 'bio.titles.bio'|trans }}
			</h2>
			<hr/>

			<div class="member_org">
				<h3>Jospeh de Chateauvieux</h3>
				<img alt="Joseph de Chateauvieux" title="Joseph de Chateauvieux" src="img/profils/1.png" class="img_bio"/>
				<div class="12px">Crazy Cycliste</div>
				<div class="11px">Président BDS à l'EM Lyon (France)</div>
			</div>	

			<div class="member_org">
				<h3>Augustin Destremau</h3>
				<img alt="Ausgustin Destremau" title="Ausgustin Destremau" src="img/profils/2.png" class="img_bio"/>
				<div class="12px">Crazy Cycliste</div>
				<div class="11px">Etudiant à l'EM Lyon (France)</div>
			</div>

			<div class="member_org">
				<h3>Pierre-Arnaud Destremau</h3>
				<img alt="Pierre-Arnaud Destremau" title="Pierre-Arnaud Destremau" src="img/profils/3.png" class="img_bio"/>
				<div class="12px">Webmaster</div>
				<div class="11px">Etudiant à Melbourne (Australie)</div>
			</div>	

			
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_Presentation_body %}