{# src/GBE/PresentationBundle/Resources/Presentation/indexPresentation.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'Presentation.titles.Presentation' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}
<!-- BLOCK : BODY -->
<!-- BEGIN CONTENT -->

<div>
  Coucou
</div>
  
<!-- END CONTENT -->


{% endblock GBE_Presentation_body%}