{# src/GBE/PresentationBundle/Resources/Presentation/presentation.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'presentation.titles.presentation' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div class="content">

			<div>
				<button class="btn btn-perso float-right">
			    	{{ 'index.actions.participate'|trans }}
			     	<i class="fa fa-sign-in"></i>
			    </button>
			</div>

			<h2>
				{{ 'presentation.titles.presentation'|trans }}
			</h2>
			<hr/>
	
			<h3>Enfants du M&eacute;kong</h3>
			
			<h4>De la rizi&egrave;re et la pr&eacute;carit&eacute; le plus loin possible jusqu’&agrave; l’emploi !</h4>
			
			<p class="paragraph">
				Depuis 1958, Enfants du M&eacute;kong aide les enfants pauvres d’Asie du Sud-est  (Vietnam, Thailande, Laos, Birmanie, Cambodge, Chine (Yunnan) et Philippines) autour d’une mission : Eduquer, former et accompagner les enfants et les jeunes, afin de leur permettre d'am&eacute;liorer leurs conditions de vie mat&eacute;rielles et de se construire intellectuellement, affectivement et moralement.
			</p>
			<p class="paragraph">
				En 55 ans, c’est 200 000 enfants parrain&eacute;s, 1700 programmes de d&eacute;veloppement (constructions d’&eacute;coles, de blocs sanitaires…), 80 centres scolaires et foyers d’accueil, et 600 Volontaires de Solidarit&eacute; Internationale envoy&eacute;s en Asie.
			</p>
			
			<p class="paragraph">
			Ensemble, nous &eacute;tudiants, nous allons collecter pour construire un maximum d’&eacute;coles pour ces enfants qui ne r&ecirc;vent que d’une chose : pourvoir &eacute;tudier pour sortir sa famille du cercle vicieux de la pr&eacute;carit&eacute; ! Nous nous mobilisons pour offrir &agrave; ces enfants la m&ecirc;me chance qui nous a &eacute;t&eacute; offerte de pouvoir se r&eacute;aliser &agrave; travers nos &eacute;tudes !
			</p>

			
			<p class="paragraph">
				Suite &agrave; une <a href="http://defidumekong24hvelo.alvarum.net" target="_blank">&eacute;pop&eacute;e de 24h entre Lyon et Marseille</a>, 5 gaillards ont parcouru 400 bornes sans s'arr&ecirc;ter ! L'id&eacute;e qui nous est venu, c'&eacute;tait de rendre cet &eacute;v&egrave;nement national, et faire participer toutes les &eacute;coles &agrave; un tour de France complet.
			</p>
			<p class="paragraph"> 
				N'importe quel &eacute;tudiant peut participer &agrave; ce gigantesque relais.
			</p>
			<p class="paragraph"> 
				Ce sont 4000km que nous, braves &eacute;tudiants, allons parcourir en quelque jours, sous forme d'un relais : 200 heures de velo ! Des &eacute;quipes de 4 ! 
			</p>
			
			<h3><a href="http://www.defidumekong.com" target="_blank" style="color: white; text-decoration : none;">D&eacute;fi du M&eacute;kong</a></h3>
			
			<h4>La marque Sport & Humanitaire au service de l'&eacute;ducation en Asie</h4>
			
			<p class="paragraph">
		D&eacute;fi du M&eacute;kong permet &agrave; tout sportif de tout niveau et de toute discipline de se donner l’opportunit&eacute; de r&eacute;aliser son challenge sportif tout en le rendant utile et solidaire.
			</p>
			<p class="paragraph">
		D&eacute;fi du M&eacute;kong se d&eacute;veloppe depuis 2010 pour que toute personne puisse devenir acteur aupr&egrave;s des enfants pauvres du Sud Est asiatique. Toute personne peut s’engager pour r&eacute;pondre aux besoins des enfants et reconnaître leur dignit&eacute;.
			</p>
			<p class="paragraph">
		Le sportif rel&egrave;ve le d&eacute;fi, collecte aupr&egrave;s de son r&eacute;seau, et voit la construction de l’&eacute;cole en faveur des enfants du Sud Est asiatique. Vous relevez le D&eacute;fi, Nous construisons !	
			</p>

			<p class="paragraph">
		<strong>Le d&eacute;fi que nous avons construit pour vous n'est pas &agrave; sous-estimer !</strong> Mais vous pouvez parfaitement mettre au d&eacute;fi vos concurrents !  	
			</p>
			
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_Presentation_body %}