{# src/GBE/PresentationBundle/Resources/Presentation/presentation.html.twig #}

{% extends "GBEPresentationBundle::Presentation_general.html.twig" %}

{% block title %}
  {{ parent() }} - {{ 'presentation.titles.presentation' | trans }}
{% endblock %}

{% block GBE_Presentation_body %}

	<!-- BEGIN leftbar -->
      {% include 'includes/leftbar.html.twig' %}
    <!-- END leftbar -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-8 page-content">  <!-- Must have a col-md-8 -->
		<!-- BEGIN CONTENT -->
		<div class="content">

			<h2>
				{{ 'presentation.titles.presentation'|trans }}
			</h2>
			<hr/>
	
			<h3>L'association</h3>
			
			<h4>De la rizière et la précarité le plus loin possible jusqu’à l’emploi !</h4>
			
			<p class="paragraph">
				Depuis 1958, Enfants du Mékong aide les enfants pauvres d’Asie du Sud-est  (Vietnam, Thailande, Laos, Birmanie, Cambodge, Chine (Yunnan) et Philippines) autour d’une mission : Eduquer, former et accompagner les enfants et les jeunes, afin de leur permettre d'améliorer leurs conditions de vie matérielles et de se construire intellectuellement, affectivement et moralement.
			</p>
			<p class="paragraph">
				En 55 ans, c’est 200 000 enfants parrainés, 1700 programmes de développement (constructions d’écoles, de blocs sanitaires…), 80 centres scolaires et foyers d’accueil, et 600 Volontaires de Solidarité Internationale envoyés en Asie.
			</p>
			
			<p class="paragraph">
			Ensemble, nous étudiants, nous allons collecter pour construire un maximum d’écoles pour ces enfants qui ne rêvent que d’une chose : pourvoir étudier pour sortir sa famille du cercle vicieux de la précarité ! Nous nous mobilisons pour offrir à ces enfants la même chance qui nous a été offerte de pouvoir se réaliser à travers nos études !
			</p>
			
			<h3><a href="http://www.defidumekong.com" target="_blank" style="color: white; text-decoration : none;">Défi du Mékong</a></h3>
			
			<h4>La marque Sport &amp; Humanitaire au service de l'éducation en Asie</h4>
			
			<p class="paragraph">
		Défi du Mékong permet à tout sportif de tout niveau et de toute discipline de se donner l’opportunité de réaliser son challenge sportif tout en le rendant utile et solidaire.
			</p>
			<p class="paragraph">
		Défi du Mékong se développe depuis 2010 pour que toute personne puisse devenir acteur auprès des enfants pauvres du Sud Est asiatique. Toute personne peut s’engager pour répondre aux besoins des enfants et reconnaître leur dignité.
			</p>
			<p class="paragraph">
		Le sportif relève le défi, collecte auprès de son réseau, et voit la construction de l’école en faveur des enfants du Sud Est asiatique. Vous relevez le Défi, Nous construisons !	
			</p>

			<p class="paragraph">
		<strong>Le défi que nous avons construit pour vous n'est pas à sous-estimer !</strong> Mais vous pouvez parfaitement mettre au défi vos concurrents !  	
			</p>
			
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTENT -->

	<!-- BEGIN rightbar -->
      {% include 'includes/rightbar.html.twig' %}
    <!-- END rightbar -->

{% endblock GBE_Presentation_body %}