{# app/Resources/views/index.html.twig #}

{# For clearer view #}
{% set route = app.request.attributes.get( '_route' ) %}

<!DOCTYPE html>

<!-- BEGIN HEAD -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      {% block title %}
        GBE
      {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {% stylesheets
      
      'css/mobile.css'

      'css/bootstrap.css'
      'css/bootstrap.min.css'
      'css/bootstrap-responsive.css'
      'css/bootstrap-responsive.min.css'

      'bootstrap/css/bootstrap-theme.css'
      'bootstrap/css/bootstrap-theme.min.css'
      'bootstrap/css/bootstrap.min.css'
      'bootstrap/css/bootstrap.css'

      'css/police.css'
      'css/main_style.css'

      
      filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
    {% endstylesheets %}

    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" />
    <link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}" />
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
  <body>
    <!-- BEGIN HEADER -->
      {% include 'includes/nav.html.twig' %}
    <!-- END HEADER -->
    <div class="website_content">
      <div class="row margin0">
        
        <!-- BEGIN CONTAINER -->
        <div class="page-container row margin0">
            {% block body %}
            {% endblock body %}  
        </div>
        <!-- END CONTAINER -->

        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

        {% javascripts 
          'bootstrap/js/bootstrap.js'
          'bootstrap/js/bootstrap.min.js'
          %}
          <!-- 'js/ajax_load.js' -->
          <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!-- END JAVASCRIPTS -->
        
        <div class="row margin0">
          <!-- BEGIN FOOTER -->
          {% if route != 'gbe_presentation_live' %}
            {% include 'includes/footer.html.twig' %}
          {% endif %}
          <!-- END FOOTER -->
        </div>
      </div>
    </div>
  </body>
  <!-- END BODY -->
</html>