/* Style main */


html
{
	background-image: url("../img/system/fond_site.jpg");
	background-size: 100%;
}


body
{	
	width: 100%;
	/*background-image: url("../img/system/tdfns.png");
	background-repeat: no-repeat;
	background-size: 1260px;
	background-position: center top;*/
	background-color: inherit;

	font-family: 'zektonregular' !important;
}

.website_content {

	background-color: rgba(220,220,220,0.85) !important;
	width: 96%;
	min-width: 300px;
	margin: auto;
	max-width: 1240px;
	
	/*box-shadow: 0px 0px 1px 2px grey;*/
}

.row {
	width: 100%;
}
.margin0 {
	margin:0;
}
.margin_left_10 {
	margin-left: 10px;
}
.margin_right_10 {
	margin-right: 10px;
}
.margin_top_10 {
	margin-top: 10px;
}
.margin_bottom_10 {
	margin-bottom: 10px;
}
.col-md-1 {
	width: 8%;
}
.col-md-2 {
	width: 16%;
}
.col-md-3 {
	width: 25%;
}
.col-md-4 {
	width: 33%;
}
.col-md-5 {
	width: 41%;
}
.col-md-6 {
	width: 50%;
}
.col-md-7 {
	width: 58.33%;
}
.col-md-8 {
	width: 66.66%;
}
.col-md-9 {
	width: 75%;
}
.col-md-10 {
	width: 83.33%;
}
.col-md-11 {
	width: 91.66%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
	display: inline-block;
}


#head
{	
	margin: 0;
	border: 1px solid rgba(0,0,0,0.65); 
	background-color: rgba(0,0,0,0.65);
	color : white;
	width: 100%;
	height: 44px;
}

#inner_head {
	max-width: 1280px;
	margin: auto;
}

h1
{	
	margin: 8px 0 0 0;
	font-size: 26px;
	color: white;
}

h2
{	
	margin: 8px 0 0 0;
	font-size : 22px;
	color: black; /*#922e2e*/
	text-align: left;
}

h3
{	
	font-size : 18px;
	color: white;
}

h4
{	
	font-size : 14px;
	color: grey;
	font-style: italic;
}

h5 {
	font-size: 12px;
	color: #922e2e;
	font-weight: 800;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

label {
	font-weight: 300;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.float-right {
	float: right;
}

.float-center {
	float: center;
}

.float-left {
	float: left;
}

.bold {
	font-weight: 800;
}

.font10 {
	font-size: 10px;
}

.font12 {
	font-size: 12px;
}

.font14 {
	font-size: 14px;
}

.font16 {
	font-size: 16px;
}

.font18 {
	font-size: 18px;
}

.font20 {
	font-size: 20px;
}

.italic {
	font-style: italic;
}

.list_no_style_li {
	list-style-type: none;
}

.language_flag {
  width: 20px;
}

.language_selection {
	margin-left: 10px;
}

.language_selection:hover {
	opacity: 0.5;
}

a {
	color: #008010;
	text-decoration: none;
}

a:hover {
	color: #008010;
	text-decoration: underline;
}

.no_style_a {
	color: black;
	text-decoration: none;
	font-style: normal;
}

.no_style_a:hover {
	color: black;
	text-decoration: none;
	font-style: normal;
}

p {	
	margin: 5px 10px 5px 10px;
	text-align: justify;
}

button {
	margin-top: 3px;
}

.btn-perso {
	padding: 5px;
	background-color: rgba(70,70,70,0.92);
	border: 1px solid white;
	border-radius: 0;
	color: white;
}

.btn-perso:hover {
	color: rgba(70,70,70,0.92);
	background-color: white;
}

.btn-login {
	color: white;
	background-color: rgba(77,137,39,0.8);
}

.btn-login:hover {
	color: rgba(77,137,39,0.8);
	background-color: white;
}

.btn-signup {
	color: rgba(77,137,39,0.8);
	background-color: white;
}

.btn-signup:hover {
	color: white;
	background-color: rgba(77,137,39,0.8);
}

.social
{	
	width : 22px;
	margin-top: 9px;
	margin-right: 5px;
}

.social:hover
{
	opacity: 0.5;
}

.language_selection, .language_selection:hover, .btn-signup, .btn-signup:hover, .btn-login, .btn-login:hover, .btn-perso, .btn-perso:hover, .social, .social:hover {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}

.cancel_button {
	margin-left : 20%;
	background-color: rgba(176, 42, 44, 0.3);
}

.cancel_button:hover {
	background-color: rgba(176, 42, 44, 0.8);
}

.validate_button {
	margin-right: 20%;
	background-color: rgba(42, 166, 44, 0.3);
}

.validate_button:hover {
	background-color: rgba(42, 166, 44, 0.8);
}

.warning_btn {
	background-color: rgba(176, 42, 44, 0.3);
}

.warning_btn {
	background-color: rgba(176, 42, 44, 0.8);
}

.error_message {
	margin-left: 15%;
	width: 70%;
	padding: 3px;
	border :1px solid white;
	background-color: rgba(161, 42, 40, 0.5);
	color: white;
}

.warning_word {
	text-align: left;
	width: 20%;
	font-weight: 800;
}

.warning_message {
	padding-left: 20px;
	text-align: left;
	width: 80%;
	overflow: scroll;
}

.warning_background {
	background-color: rgba(161, 42, 40, 0.6);
}

.width80 {
	width: 80px;
}


/* Accueil */

.main_map {
	margin-left: 5%;
	width: 90%;
	height: 100%;
}

.participate_button {
	font-size: 32px !important;
	text-align: center;
}


/* Menu -  Left side */

#menu, #rightside
{	
	margin: 0;
	font-size: 14px;
	/*background-color: rgba(180,180,180,0.8);*/
	padding: 3px 10px 3px 10px;

	min-height : 660px;
}

#rightside {
	width: 17.5%;
}

#menu ul {
	margin: 30px 0 0 0;
}

#menu li
{	
	list-style: none;
	padding: 5px;
	margin: 5px 0 5px 0;

	border: 1px solid white;

}

#menu li a
{	
	text-decoration: none;
	color: #000000;
	padding: 7px;
	width: 100%;
}

#menu li:hover
{	
	color: rgb(70,70,70) !important;
	background-color: white !important;
}

#menu li:hover a
{	
	color: rgb(70,70,70) !important;
	background-color: white !important;
	width: 100%;
}

#menu li, #menu li a, #menu li:hover, #menu li:hover a, #menu li:active, #menu li.active, #menu li:active a, #menu li.active a {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}

#menu li:active, #menu li.active
{	
	background-color: rgba(70,70,70,0.92);
}

#menu li:active a, #menu li.active a
{	
	text-decoration: none;
	color: #ffffff;
	padding: 7px;
	width: 100%;
}

#menu li.administration
{	background-color: #db0404;
}

.menu_administration_li, .menu_logout_li {
	background-color: rgba(161, 42, 40, 0.2);
}


/* Right side */






/* Contenu des pages */
.page-content {
	min-height: 660px;
	background-color: rgba(230,230,230,0.94);
}

.content
{	
	width : 100%;
	min-height: 636px;
	margin: 10px 0 10px 0;
	padding: 10px;
	border: 1px solid white;
	
	overflow-x: hidden;
	overflow-y: scroll;
}
.content_live {
	width : 96%;
	height : 660px;
	margin: 10px 2% 10px 2%;
	padding: 10px;
	border: 1px solid white;
	
	overflow-x: hidden;
	overflow-y: scroll;
}

/* Presentation */
.paragraph 
{
	text-indent:20px; 
	margin-left : 5px; 
	margin-right : 5px; 
	text-align : justify;
}

/* Bio */
.member_org_img {
	width: 100px;
	height: 100px;
	border : 1px solid white;
}

.paragraph_bio {
	text-indent: 0 !important;
	font-size: 11px;
	margin-left : 5px; 
	margin-right : 5px; 
	text-align : justify;
}

.member_org {
	margin-bottom: 8px;
	margin-top: 8px;
}


/* Routes */
.single_route {
	text-align: left;
}

.route_img {
	text-align: right;
	margin-left: 29%;
	width: 70%;
	border : 1px solid white;
}


/* Calendar */
#calendar_table {
    border-collapse: collapse;
}

#calendar_table tr
{
	height : 25px;
}

#calendar_table th, #calendar_table td
{
	border: 1px solid #e4e4e4;
	padding-right: 6px;
	padding-left: 6px;
}

#calendar_table #td_space
{
	height : 10px;
}

.calendar_img {
	width: 74%;
	margin-left: 13%;
	border : 1px solid white;
}


/* Photos */
.photo_souvenir {
	width: 80%;
	border: 1px solid white;
}



/* Contact */
.checkbox_case input {
	padding-bottom: 12px;
}

#send_email {
	margin-right: 18px;
}

/* Live */
.title_live  {
	text-align: center;
}





/* User */ 
.checkbox {
	margin-left: 20px;
}

.user_login {
	margin-top: 4px;
}

.user_box, .language_box {
	display: inline-block;
}

.user_box_name {
	margin-left: 6px;
}

.nav_profile {
	width: 34px;
	border-radius: 17px;
}

.nav_profile_link {
	text-decoration: none;
	color: white;
	font-size: 13px;
}

.nav_profile_link:hover {
	text-decoration: none;
	color: white;
	opacity: 0.6;
}

.avatar_profile {
	width: 150px;
	margin: auto;
	border-radius: 75px;
}

.avatar_team {
	width: 110px;
	margin: auto;
	border-radius: 55px;
}

.teamleader_avatar {
	border : 1px solid red;
}

.change_avatar {
	padding: 3px;
}

.form-group {
	width : 96%;
	margin-left: 2%;
}

.edit_profile .control-label {
	float: left;
	text-align: right;
	width : 30%;
	margin-top: 8px;
}

.edit_profile .input-icon {
	width : 60%;
	float: right;
}


/* Admin */
.single_admin_member {
	width: 60%;
}

.avatar_admin {
	width: 30px;
	border-radius: 15px;
}

.team_admin {
	margin-left: 12%;
}

.email_button {
	background-color: rgba(26, 54, 108, 0.5);
}

.admin_ok {
	width : 20px;
	border-radius: 10px;
	opacity: 0.7;
}



/* Footer */
.footer
{
	background-color: rgba(25,25,25,0.94);
	text-align: center;
	width : 100%;
	height: 38px;
}

.separator_footer {
	color: red;
}

#copyright
{
	font-size: 10px;
	text-align: center;
	margin: 0;
	color : white; /*#666666;*/
}

#liens_footer ul
{	
	list-style: none;
	text-align: center;
	margin: 0;
}

#liens_footer li
{	
	font-size: 12px;
	display : inline-block;
}

#liens_footer a
{	text-decoration: none;
	color : white;/*#666666;*/
}

#liens_footer a:hover
{	
	text-decoration: none;
	color : #820000;
}

