/* Style main */


html
{
	background-image: url("../img/system/fond_site.jpg");
	background-size: 100%;
}


body
{	
	/*background-image: url("../img/system/tdfns.png");
	background-repeat: no-repeat;
	background-size: 1260px;
	background-position: center top;*/

	background-color: rgba(248,248,248,0.95) !important;

	font-family: 'zektonregular';

	width: 1260px;
	height : 100%;
	min-width: 300px;
	margin: auto;
	
	/*box-shadow: 0px 0px 1px 2px grey;*/
}

.row {
	width: 100%;
}
.col-md-1 {
	width: 8%;
}
.col-md-2 {
	width: 16%;
}
.col-md-3 {
	width: 25%;
}
.col-md-4 {
	width: 33%;
}
.col-md-5 {
	width: 41%;
}
.col-md-6 {
	width: 50%;
}
.col-md-7 {
	width: 58.33%;
}
.col-md-8 {
	width: 66.66%;
}
.col-md-9 {
	width: 75%;
}
.col-md-10 {
	width: 83.33%;
}
.col-md-11 {
	width: 91.66%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
	display: inline-block;
}


#head
{	
	margin: 0;
	border: 1px solid black; 
	background-color: black;
	color : white;
	width: 100%;
	height: 44px;
}

h1
{	
	margin: 8px 0 0 0;
	font-size: 26px;
	color: white;
}

h2
{	
	margin: 8px 0 0 0;
	font-size : 22px;
	color: black; /*#922e2e*/
}

h3
{	
	font-size : 18px;
	color: white;
}

h4
{	
	font-size : 14px;
	color: grey;
	font-style: italic;
}

label {
	font-weight: 300;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.bold {
	font-weight: 800;
}

.language_flag {
  width: 20px;
}

.language_selection {
	margin-left: 10px;
}

.language_selection:hover {
	opacity: 0.5;
}

a {
	color: #008010;
	text-decoration: none;
}

a:hover {
	color: #008010;
	text-decoration: underline;
}

p {	
	margin: 5px 10px 5px 10px;
	text-align: justify;
}

button {
	margin-top: 3px;
}

.btn-perso {
	padding: 5px;
	background-color: rgba(70,70,70,0.92);
	border: 1px solid white;
	border-radius: 0;
	color: white;
}

.btn-perso:hover {
	color: rgba(70,70,70,0.92);
	background-color: white;
}

.btn-login {
	color: white;
	background-color: rgba(77,137,39,0.8);
}

.btn-login:hover {
	color: rgba(77,137,39,0.8);
	background-color: white;
}

.btn-signup {
	color: rgba(77,137,39,0.8);
	background-color: white;
}

.btn-signup:hover {
	color: white;
	background-color: rgba(77,137,39,0.8);
}

.social
{	
	width : 22px;
	margin-top: 9px;
	margin-right: 5px;
}

.social:hover
{
	opacity: 0.5;
}

.language_selection, .language_selection:hover, .btn-signup, .btn-signup:hover, .btn-login, .btn-login:hover, .btn-perso, .btn-perso:hover, .social, .social:hover {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}



/* Accueil */

.main_map {
	width: 100%;
	height: 100%;
	background-image: url('../img/route/map.png');
	background-size: 78%;
	background-position: center;
	background-repeat: no-repeat;
}

.participate_button {
	font-size: 32px !important;
	text-align: center;
}


/* Menu -  Left side */

#menu, #rightside
{	
	font-size: 14px;
	background-color: rgba(180,180,180,0.8);
	margin: 0;
	padding: 3px 10px 3px 10px;

	height : 660px;
}

#menu ul {
	margin: 30px 0 0 0;
}

#menu li
{	
	list-style: none;
	padding: 5px;
	margin: 5px 0 5px 0;

	border: 1px solid white;

}

#menu li a
{	
	text-decoration: none;
	color: #000000;
	padding: 7px;
	width: 100%;
}

#menu li:hover
{	
	color: rgba(70,70,70,0.92) !important;
	background-color: white !important;
}

#menu li:hover a
{	
	color: rgba(70,70,70,0.92) !important;
	background-color: white !important;
	width: 100%;
}

#menu li, #menu li a, #menu li:hover, #menu li:hover a, #menu li:active, #menu li.active, #menu li:active a, #menu li.active a {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}

#menu li:active, #menu li.active
{	
	background-color: rgba(70,70,70,0.92);
}

#menu li:active a, #menu li.active a
{	
	text-decoration: none;
	color: #ffffff;
	padding: 7px;
	width: 100%;
}

#menu li.administration
{	background-color: #db0404;
}




/* Right side */






/* Contenu des pages */
.page-content {
	height: 660px;
	background-color: rgba(230,230,230,0.94);
}

.content
{	
	width : 100%;
	height : 636px;
	margin: 10px 0 0 0;
	padding: 10px;
	border: 1px solid white;
	
	overflow-x: hidden;
	overflow-y: scroll;
}
.content_live {
	width : 96%;
	height : 660px;
	margin: 10px 2% 10px 2%;
	padding: 10px;
	border: 1px solid white;
	
	overflow-x: hidden;
	overflow-y: scroll;
}

/* Presentation */
.paragraph 
{
	text-indent:20px; 
	margin-left : 5px; 
	margin-right : 5px; 
	text-align : justify;
}

.img_bio {
	width : 150px;
	height : 150px;
	border: 1px solid white;
}

/* Bio */
.member_org {
	width: 33%;
	text-align: center;
	display: inline-block;
}


/* Routes */
.single_route {
	text-align: left;
}

.route_img {
	text-align: right;
	margin-left: 29%;
	width: 70%;
	border : 1px solid white;
}


/* Calendar */
#calendar_table {
    border-collapse: collapse;
}

#calendar_table tr
{
	height : 25px;
}

#calendar_table th, #calendar_table td
{
	border: 1px solid #e4e4e4;
	padding-right: 6px;
	padding-left: 6px;
}

#calendar_table #td_space
{
	height : 10px;
}


/* Contact */
.input_name_email {
	width: 35%;
}
.message {
	width: 100%;
}

/* Live */
.title_live  {
	text-align: center;
}





/* User */ 
.checkbox {
	margin-left: 2px;
}

.user_login {
	margin-top: 4px;
}

.user_box, .language_box {
	display: inline-block;
}

.user_box_name {
	margin-left: 6px;
}

.nav_profile {
	width: 34px;
	border-radius: 17px;
}

.nav_profile_link {
	text-decoration: none;
	color: white;
	font-size: 13px;
}

.nav_profile_link:hover {
	text-decoration: none;
	color: white;
	opacity: 0.6;
}


/* Footer */
.footer
{
	/*background-color: rgba(85,85,85,0.94);*/
	text-align: center;
	width : 100%;
	height: 38px;
}


#copyright
{
	font-size: 10px;
	text-align: center;
	margin: 0;
	color : #666666;
}

#liens_footer ul
{	
	list-style: none;
	text-align: center;
	margin: 0;
}

#liens_footer li
{	
	font-size: 12px;
	display : inline-block;
}

#liens_footer a
{	text-decoration: none;
	color : white;
}

#liens_footer a:hover
{	
	text-decoration: none;
	color : #820000;
}

