{% set country_user = app.user.country %}
<option value="" {% if (country_user == "") %}selected{% endif %}></option>
<option value="AF" {% if (country_user == "AF") %}selected{% endif %}>Afghanistan</option>
<option value="AL" {% if (country_user == "AL") %}selected{% endif %}>Albania</option>
<option value="DZ" {% if (country_user == "DZ") %}selected{% endif %}>Algeria</option>
<option value="AS" {% if (country_user == "AS") %}selected{% endif %}>American Samoa</option>
<option value="AD" {% if (country_user == "AD") %}selected{% endif %}>Andorra</option>
<option value="AO" {% if (country_user == "AO") %}selected{% endif %}>Angola</option>
<option value="AI" {% if (country_user == "AI") %}selected{% endif %}>Anguilla</option>
<option value="AQ" {% if (country_user == "AQ") %}selected{% endif %}>Antarctica</option>
<option value="AR" {% if (country_user == "AR") %}selected{% endif %}>Argentina</option>
<option value="AM" {% if (country_user == "AM") %}selected{% endif %}>Armenia</option>
<option value="AW" {% if (country_user == "AW") %}selected{% endif %}>Aruba</option>
<option value="AU" {% if (country_user == "AU") %}selected{% endif %}>Australia</option>
<option value="AT" {% if (country_user == "AT") %}selected{% endif %}>Austria</option>
<option value="AZ" {% if (country_user == "AZ") %}selected{% endif %}>Azerbaijan</option>
<option value="BS" {% if (country_user == "BS") %}selected{% endif %}>Bahamas</option>
<option value="BH" {% if (country_user == "BH") %}selected{% endif %}>Bahrain</option>
<option value="BD" {% if (country_user == "BD") %}selected{% endif %}>Bangladesh</option>
<option value="BB" {% if (country_user == "BB") %}selected{% endif %}>Barbados</option>
<option value="BY" {% if (country_user == "BY") %}selected{% endif %}>Belarus</option>
<option value="BE" {% if (country_user == "BE") %}selected{% endif %}>Belgium</option>
<option value="BZ" {% if (country_user == "BZ") %}selected{% endif %}>Belize</option>
<option value="BJ" {% if (country_user == "BJ") %}selected{% endif %}>Benin</option>
<option value="BM" {% if (country_user == "BM") %}selected{% endif %}>Bermuda</option>
<option value="BT" {% if (country_user == "BT") %}selected{% endif %}>Bhutan</option>
<option value="BO" {% if (country_user == "BO") %}selected{% endif %}>Bolivia</option>
<option value="BA" {% if (country_user == "BA") %}selected{% endif %}>Bosnia and Herzegowina</option>
<option value="BW" {% if (country_user == "BW") %}selected{% endif %}>Botswana</option>
<option value="BV" {% if (country_user == "BV") %}selected{% endif %}>Bouvet Island</option>
<option value="BR" {% if (country_user == "BR") %}selected{% endif %}>Brazil</option>
<option value="IO" {% if (country_user == "IO") %}selected{% endif %}>British Indian Ocean Territory</option>
<option value="BN" {% if (country_user == "BN") %}selected{% endif %}>Brunei Darussalam</option>
<option value="BG" {% if (country_user == "BG") %}selected{% endif %}>Bulgaria</option>
<option value="BF" {% if (country_user == "BF") %}selected{% endif %}>Burkina Faso</option>
<option value="BI" {% if (country_user == "BI") %}selected{% endif %}>Burundi</option>
<option value="KH" {% if (country_user == "KH") %}selected{% endif %}>Cambodia</option>
<option value="CM" {% if (country_user == "CM") %}selected{% endif %}>Cameroon</option>
<option value="CA" {% if (country_user == "CA") %}selected{% endif %}>Canada</option>
<option value="CV" {% if (country_user == "CV") %}selected{% endif %}>Cape Verde</option>
<option value="KY" {% if (country_user == "KY") %}selected{% endif %}>Cayman Islands</option>
<option value="CF" {% if (country_user == "CF") %}selected{% endif %}>Central African Republic</option>
<option value="TD" {% if (country_user == "TD") %}selected{% endif %}>Chad</option>
<option value="CL" {% if (country_user == "CL") %}selected{% endif %}>Chile</option>
<option value="CN" {% if (country_user == "CN") %}selected{% endif %}>China</option>
<option value="CX" {% if (country_user == "CX") %}selected{% endif %}>Christmas Island</option>
<option value="CC" {% if (country_user == "CC") %}selected{% endif %}>Cocos (Keeling) Islands</option>
<option value="CO" {% if (country_user == "CO") %}selected{% endif %}>Colombia</option>
<option value="KM" {% if (country_user == "KM") %}selected{% endif %}>Comoros</option>
<option value="CG" {% if (country_user == "CG") %}selected{% endif %}>Congo</option>
<option value="CD" {% if (country_user == "CD") %}selected{% endif %}>Congo, the Democratic Republic of the</option>
<option value="CK" {% if (country_user == "CK") %}selected{% endif %}>Cook Islands</option>
<option value="CR" {% if (country_user == "CR") %}selected{% endif %}>Costa Rica</option>
<option value="CI" {% if (country_user == "CI") %}selected{% endif %}>Cote d'Ivoire</option>
<option value="HR" {% if (country_user == "HR") %}selected{% endif %}>Croatia (Hrvatska)</option>
<option value="CU" {% if (country_user == "CU") %}selected{% endif %}>Cuba</option>
<option value="CY" {% if (country_user == "CY") %}selected{% endif %}>Cyprus</option>
<option value="CZ" {% if (country_user == "CZ") %}selected{% endif %}>Czech Republic</option>
<option value="DK" {% if (country_user == "DK") %}selected{% endif %}>Denmark</option>
<option value="DJ" {% if (country_user == "DJ") %}selected{% endif %}>Djibouti</option>
<option value="DM" {% if (country_user == "DM") %}selected{% endif %}>Dominica</option>
<option value="DO" {% if (country_user == "DO") %}selected{% endif %}>Dominican Republic</option>
<option value="EC" {% if (country_user == "EC") %}selected{% endif %}>Ecuador</option>
<option value="EG" {% if (country_user == "EG") %}selected{% endif %}>Egypt</option>
<option value="SV" {% if (country_user == "SV") %}selected{% endif %}>El Salvador</option>
<option value="GQ" {% if (country_user == "GQ") %}selected{% endif %}>Equatorial Guinea</option>
<option value="ER" {% if (country_user == "ER") %}selected{% endif %}>Eritrea</option>
<option value="EE" {% if (country_user == "EE") %}selected{% endif %}>Estonia</option>
<option value="ET" {% if (country_user == "ET") %}selected{% endif %}>Ethiopia</option>
<option value="FK" {% if (country_user == "FK") %}selected{% endif %}>Falkland Islands (Malvinas)</option>
<option value="FO" {% if (country_user == "FO") %}selected{% endif %}>Faroe Islands</option>
<option value="FJ" {% if (country_user == "FJ") %}selected{% endif %}>Fiji</option>
<option value="FI" {% if (country_user == "FI") %}selected{% endif %}>Finland</option>
<option value="FR" {% if (country_user == "FR") %}selected{% endif %}>France</option>
<option value="GF" {% if (country_user == "GF") %}selected{% endif %}>French Guiana</option>
<option value="PF" {% if (country_user == "PF") %}selected{% endif %}>French Polynesia</option>
<option value="TF" {% if (country_user == "TF") %}selected{% endif %}>French Southern Territories</option>
<option value="GA" {% if (country_user == "GA") %}selected{% endif %}>Gabon</option>
<option value="GM" {% if (country_user == "GM") %}selected{% endif %}>Gambia</option>
<option value="GE" {% if (country_user == "GE") %}selected{% endif %}>Georgia</option>
<option value="DE" {% if (country_user == "DE") %}selected{% endif %}>Germany</option>
<option value="GH" {% if (country_user == "GH") %}selected{% endif %}>Ghana</option>
<option value="GI" {% if (country_user == "GI") %}selected{% endif %}>Gibraltar</option>
<option value="GR" {% if (country_user == "GR") %}selected{% endif %}>Greece</option>
<option value="GL" {% if (country_user == "GL") %}selected{% endif %}>Greenland</option>
<option value="GD" {% if (country_user == "GD") %}selected{% endif %}>Grenada</option>
<option value="GP" {% if (country_user == "GP") %}selected{% endif %}>Guadeloupe</option>
<option value="GU" {% if (country_user == "GU") %}selected{% endif %}>Guam</option>
<option value="GT" {% if (country_user == "GT") %}selected{% endif %}>Guatemala</option>
<option value="GN" {% if (country_user == "GN") %}selected{% endif %}>Guinea</option>
<option value="GW" {% if (country_user == "GW") %}selected{% endif %}>Guinea-Bissau</option>
<option value="GY" {% if (country_user == "GY") %}selected{% endif %}>Guyana</option>
<option value="HT" {% if (country_user == "HT") %}selected{% endif %}>Haiti</option>
<option value="HM" {% if (country_user == "HM") %}selected{% endif %}>Heard and Mc Donald Islands</option>
<option value="VA" {% if (country_user == "VA") %}selected{% endif %}>Holy See (Vatican City State)</option>
<option value="HN" {% if (country_user == "HN") %}selected{% endif %}>Honduras</option>
<option value="HK" {% if (country_user == "HK") %}selected{% endif %}>Hong Kong</option>
<option value="HU" {% if (country_user == "HU") %}selected{% endif %}>Hungary</option>
<option value="IS" {% if (country_user == "IS") %}selected{% endif %}>Iceland</option>
<option value="IN" {% if (country_user == "IN") %}selected{% endif %}>India</option>
<option value="ID" {% if (country_user == "ID") %}selected{% endif %}>Indonesia</option>
<option value="IR" {% if (country_user == "IR") %}selected{% endif %}>Iran (Islamic Republic of)</option>
<option value="IQ" {% if (country_user == "IQ") %}selected{% endif %}>Iraq</option>
<option value="IE" {% if (country_user == "IE") %}selected{% endif %}>Ireland</option>
<option value="IL" {% if (country_user == "IL") %}selected{% endif %}>Israel</option>
<option value="IT" {% if (country_user == "IT") %}selected{% endif %}>Italy</option>
<option value="JM" {% if (country_user == "JM") %}selected{% endif %}>Jamaica</option>
<option value="JP" {% if (country_user == "JP") %}selected{% endif %}>Japan</option>
<option value="JO" {% if (country_user == "JO") %}selected{% endif %}>Jordan</option>
<option value="KZ" {% if (country_user == "KZ") %}selected{% endif %}>Kazakhstan</option>
<option value="KE" {% if (country_user == "KE") %}selected{% endif %}>Kenya</option>
<option value="KI" {% if (country_user == "KI") %}selected{% endif %}>Kiribati</option>
<option value="KP" {% if (country_user == "KP") %}selected{% endif %}>Korea, Democratic People's Republic of</option>
<option value="KR" {% if (country_user == "KR") %}selected{% endif %}>Korea, Republic of</option>
<option value="KW" {% if (country_user == "KW") %}selected{% endif %}>Kuwait</option>
<option value="KG" {% if (country_user == "KG") %}selected{% endif %}>Kyrgyzstan</option>
<option value="LA" {% if (country_user == "LA") %}selected{% endif %}>Lao People's Democratic Republic</option>
<option value="LV" {% if (country_user == "LV") %}selected{% endif %}>Latvia</option>
<option value="LB" {% if (country_user == "LB") %}selected{% endif %}>Lebanon</option>
<option value="LS" {% if (country_user == "LS") %}selected{% endif %}>Lesotho</option>
<option value="LR" {% if (country_user == "LR") %}selected{% endif %}>Liberia</option>
<option value="LY" {% if (country_user == "LY") %}selected{% endif %}>Libyan Arab Jamahiriya</option>
<option value="LI" {% if (country_user == "LI") %}selected{% endif %}>Liechtenstein</option>
<option value="LT" {% if (country_user == "LT") %}selected{% endif %}>Lithuania</option>
<option value="LU" {% if (country_user == "LU") %}selected{% endif %}>Luxembourg</option>
<option value="MO" {% if (country_user == "MO") %}selected{% endif %}>Macau</option>
<option value="MK" {% if (country_user == "MK") %}selected{% endif %}>Macedonia, The Former Yugoslav Republic of</option>
<option value="MG" {% if (country_user == "MG") %}selected{% endif %}>Madagascar</option>
<option value="MW" {% if (country_user == "MW") %}selected{% endif %}>Malawi</option>
<option value="MY" {% if (country_user == "MY") %}selected{% endif %}>Malaysia</option>
<option value="MV" {% if (country_user == "MV") %}selected{% endif %}>Maldives</option>
<option value="ML" {% if (country_user == "ML") %}selected{% endif %}>Mali</option>
<option value="MT" {% if (country_user == "MT") %}selected{% endif %}>Malta</option>
<option value="MH" {% if (country_user == "MH") %}selected{% endif %}>Marshall Islands</option>
<option value="MQ" {% if (country_user == "MQ") %}selected{% endif %}>Martinique</option>
<option value="MR" {% if (country_user == "MR") %}selected{% endif %}>Mauritania</option>
<option value="MU" {% if (country_user == "MU") %}selected{% endif %}>Mauritius</option>
<option value="YT" {% if (country_user == "YT") %}selected{% endif %}>Mayotte</option>
<option value="MX" {% if (country_user == "MX") %}selected{% endif %}>Mexico</option>
<option value="FM" {% if (country_user == "FM") %}selected{% endif %}>Micronesia, Federated States of</option>
<option value="MD" {% if (country_user == "MD") %}selected{% endif %}>Moldova, Republic of</option>
<option value="MC" {% if (country_user == "MC") %}selected{% endif %}>Monaco</option>
<option value="MN" {% if (country_user == "MN") %}selected{% endif %}>Mongolia</option>
<option value="MS" {% if (country_user == "MS") %}selected{% endif %}>Montserrat</option>
<option value="MA" {% if (country_user == "MA") %}selected{% endif %}>Morocco</option>
<option value="MZ" {% if (country_user == "MZ") %}selected{% endif %}>Mozambique</option>
<option value="MM" {% if (country_user == "MM") %}selected{% endif %}>Myanmar</option>
<option value="NA" {% if (country_user == "NA") %}selected{% endif %}>Namibia</option>
<option value="NR" {% if (country_user == "NR") %}selected{% endif %}>Nauru</option>
<option value="NP" {% if (country_user == "NP") %}selected{% endif %}>Nepal</option>
<option value="NL" {% if (country_user == "NL") %}selected{% endif %}>Netherlands</option>
<option value="AN" {% if (country_user == "AN") %}selected{% endif %}>Netherlands Antilles</option>
<option value="NC" {% if (country_user == "NC") %}selected{% endif %}>New Caledonia</option>
<option value="NZ" {% if (country_user == "NZ") %}selected{% endif %}>New Zealand</option>
<option value="NI" {% if (country_user == "NI") %}selected{% endif %}>Nicaragua</option>
<option value="NE" {% if (country_user == "NE") %}selected{% endif %}>Niger</option>
<option value="NG" {% if (country_user == "NG") %}selected{% endif %}>Nigeria</option>
<option value="NU" {% if (country_user == "NU") %}selected{% endif %}>Niue</option>
<option value="NF" {% if (country_user == "NF") %}selected{% endif %}>Norfolk Island</option>
<option value="MP" {% if (country_user == "MP") %}selected{% endif %}>Northern Mariana Islands</option>
<option value="NO" {% if (country_user == "NO") %}selected{% endif %}>Norway</option>
<option value="OM" {% if (country_user == "OM") %}selected{% endif %}>Oman</option>
<option value="PK" {% if (country_user == "PK") %}selected{% endif %}>Pakistan</option>
<option value="PW" {% if (country_user == "PW") %}selected{% endif %}>Palau</option>
<option value="PA" {% if (country_user == "PA") %}selected{% endif %}>Panama</option>
<option value="PG" {% if (country_user == "PG") %}selected{% endif %}>Papua New Guinea</option>
<option value="PY" {% if (country_user == "PY") %}selected{% endif %}>Paraguay</option>
<option value="PE" {% if (country_user == "PE") %}selected{% endif %}>Peru</option>
<option value="PH" {% if (country_user == "PH") %}selected{% endif %}>Philippines</option>
<option value="PN" {% if (country_user == "PN") %}selected{% endif %}>Pitcairn</option>
<option value="PL" {% if (country_user == "PL") %}selected{% endif %}>Poland</option>
<option value="PT" {% if (country_user == "PT") %}selected{% endif %}>Portugal</option>
<option value="PR" {% if (country_user == "PR") %}selected{% endif %}>Puerto Rico</option>
<option value="QA" {% if (country_user == "QA") %}selected{% endif %}>Qatar</option>
<option value="RE" {% if (country_user == "RE") %}selected{% endif %}>Reunion</option>
<option value="RO" {% if (country_user == "RO") %}selected{% endif %}>Romania</option>
<option value="RU" {% if (country_user == "RU") %}selected{% endif %}>Russian Federation</option>
<option value="RW" {% if (country_user == "RW") %}selected{% endif %}>Rwanda</option>
<option value="KN" {% if (country_user == "KN") %}selected{% endif %}>Saint Kitts and Nevis</option>
<option value="LC" {% if (country_user == "LC") %}selected{% endif %}>Saint LUCIA</option>
<option value="VC" {% if (country_user == "VC") %}selected{% endif %}>Saint Vincent and the Grenadines</option>
<option value="WS" {% if (country_user == "WS") %}selected{% endif %}>Samoa</option>
<option value="SM" {% if (country_user == "SM") %}selected{% endif %}>San Marino</option>
<option value="ST" {% if (country_user == "ST") %}selected{% endif %}>Sao Tome and Principe</option>
<option value="SA" {% if (country_user == "SA") %}selected{% endif %}>Saudi Arabia</option>
<option value="SN" {% if (country_user == "SN") %}selected{% endif %}>Senegal</option>
<option value="SC" {% if (country_user == "SC") %}selected{% endif %}>Seychelles</option>
<option value="SL" {% if (country_user == "SL") %}selected{% endif %}>Sierra Leone</option>
<option value="SG" {% if (country_user == "SG") %}selected{% endif %}>Singapore</option>
<option value="SK" {% if (country_user == "SK") %}selected{% endif %}>Slovakia (Slovak Republic)</option>
<option value="SI" {% if (country_user == "SI") %}selected{% endif %}>Slovenia</option>
<option value="SB" {% if (country_user == "SB") %}selected{% endif %}>Solomon Islands</option>
<option value="SO" {% if (country_user == "SO") %}selected{% endif %}>Somalia</option>
<option value="ZA" {% if (country_user == "ZA") %}selected{% endif %}>South Africa</option>
<option value="GS" {% if (country_user == "GS") %}selected{% endif %}>South Georgia and the South Sandwich Islands</option>
<option value="ES" {% if (country_user == "ES") %}selected{% endif %}>Spain</option>
<option value="LK" {% if (country_user == "LK") %}selected{% endif %}>Sri Lanka</option>
<option value="SH" {% if (country_user == "SH") %}selected{% endif %}>St. Helena</option>
<option value="PM" {% if (country_user == "PM") %}selected{% endif %}>St. Pierre and Miquelon</option>
<option value="SD" {% if (country_user == "SD") %}selected{% endif %}>Sudan</option>
<option value="SR" {% if (country_user == "SR") %}selected{% endif %}>Suriname</option>
<option value="SJ" {% if (country_user == "SJ") %}selected{% endif %}>Svalbard and Jan Mayen Islands</option>
<option value="SZ" {% if (country_user == "SZ") %}selected{% endif %}>Swaziland</option>
<option value="SE" {% if (country_user == "SE") %}selected{% endif %}>Sweden</option>
<option value="CH" {% if (country_user == "CH") %}selected{% endif %}>Switzerland</option>
<option value="SY" {% if (country_user == "SY") %}selected{% endif %}>Syrian Arab Republic</option>
<option value="TW" {% if (country_user == "TW") %}selected{% endif %}>Taiwan, Province of China</option>
<option value="TJ" {% if (country_user == "TJ") %}selected{% endif %}>Tajikistan</option>
<option value="TZ" {% if (country_user == "TZ") %}selected{% endif %}>Tanzania, United Republic of</option>
<option value="TH" {% if (country_user == "TH") %}selected{% endif %}>Thailand</option>
<option value="TG" {% if (country_user == "TG") %}selected{% endif %}>Togo</option>
<option value="TK" {% if (country_user == "TK") %}selected{% endif %}>Tokelau</option>
<option value="TO" {% if (country_user == "TO") %}selected{% endif %}>Tonga</option>
<option value="TT" {% if (country_user == "TT") %}selected{% endif %}>Trinidad and Tobago</option>
<option value="TN" {% if (country_user == "TN") %}selected{% endif %}>Tunisia</option>
<option value="TR" {% if (country_user == "TR") %}selected{% endif %}>Turkey</option>
<option value="TM" {% if (country_user == "TM") %}selected{% endif %}>Turkmenistan</option>
<option value="TC" {% if (country_user == "TC") %}selected{% endif %}>Turks and Caicos Islands</option>
<option value="TV" {% if (country_user == "TV") %}selected{% endif %}>Tuvalu</option>
<option value="UG" {% if (country_user == "UG") %}selected{% endif %}>Uganda</option>
<option value="UA" {% if (country_user == "UA") %}selected{% endif %}>Ukraine</option>
<option value="AE" {% if (country_user == "AE") %}selected{% endif %}>United Arab Emirates</option>
<option value="GB" {% if (country_user == "GB") %}selected{% endif %}>United Kingdom</option>
<option value="US" {% if (country_user == "US") %}selected{% endif %}>United States</option>
<option value="UM" {% if (country_user == "UM") %}selected{% endif %}>United States Minor Outlying Islands</option>
<option value="UY" {% if (country_user == "UY") %}selected{% endif %}>Uruguay</option>
<option value="UZ" {% if (country_user == "UZ") %}selected{% endif %}>Uzbekistan</option>
<option value="VU" {% if (country_user == "VU") %}selected{% endif %}>Vanuatu</option>
<option value="VE" {% if (country_user == "VE") %}selected{% endif %}>Venezuela</option>
<option value="VN" {% if (country_user == "VN") %}selected{% endif %}>Viet Nam</option>
<option value="VG" {% if (country_user == "VG") %}selected{% endif %}>Virgin Islands (British)</option>
<option value="VI" {% if (country_user == "VI") %}selected{% endif %}>Virgin Islands (U.S.)</option>
<option value="WF" {% if (country_user == "WF") %}selected{% endif %}>Wallis and Futuna Islands</option>
<option value="EH" {% if (country_user == "EH") %}selected{% endif %}>Western Sahara</option>
<option value="YE" {% if (country_user == "YE") %}selected{% endif %}>Yemen</option>
<option value="ZM" {% if (country_user == "ZM") %}selected{% endif %}>Zambia</option>
<option value="ZW" {% if (country_user == "ZW") %}selected{% endif %}>Zimbabwe</option>