{# For clearer view #}
{% set route = app.request.attributes.get( '_route' ) %}


<div class="page-header navbar navbar-fixed-top topOfPage">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">

      <!-- BEGIN LOGO -->
      <div class="page-logo">
        <a href="{# path('swyca_user_mySwyca', {'displayOption':'m'}) #}">
          <img src="{{ asset('img/logo/logo.png') }}" alt="logo" class="logo-default"/>
        </a>
        <div class="menu-toggler sidebar-toggler hide">
          <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
      </div>
      <!-- END LOGO -->

    </div>
    <!-- END HEADER INNER -->

  </div>