<div class="col-md-2" id="rightside">

	<h2>du 23 Octobre <br/> au 2 Novembre</h2>

	<div>
		Nombre de participants : 0
	</div>

	<br/>

	<button class="btn btn-perso">
    	{{ 'presentation.actions.live'|trans }}
     	<i class="fa fa-sign-in"></i>
    </button>

	<h3>Viens soutenir les Enfants du M&eacute;kong avec ton &eacute;cole !</h3>
	
	<button class="btn btn-perso">
    	{{ 'presentation.actions.giveDonation'|trans }}
     	<i class="fa fa-sign-in"></i>
    </button>

</div>