{# Pour tout faciliter #}
{% set route = app.request.attributes.get( '_route' ) %}

<div class="page-sidebar-wrapper page-sidebar-fixed">
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-auto-scroll="false" data-auto-speed="300">
      <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
      <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler" id="toggler_action">
          <img src="{{ asset('img/sidebar_toggler_icon_grey.png') }}" alt="tog" title="Toggle Sidebar" class="toggle_icon"/>
        </div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
      </li>
      <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

	    <hr/>

		<li class="start
			{% if app.request.attributes.get( '_route' ) == 'swyca_admin_homepage' %} active
			{% endif %}">
			<a href="{{ path('swyca_admin_homepage') }}"> 
				<i class="fa fa-home"></i> 
				<span class="title">
					{{ 'sidebarAdmin.mainTitles.dashboard' | trans }}
				</span>
				<span class="arrow"></span>
				<span class="selected"></span>
			</a> 
		</li>				
		
	</ul>
    <!-- END SIDEBAR MENU -->
  </div>

</div>